
* {
    padding: 0;
    margin: 5;
    box-sizing: border-box;
}

html, body, header, #intro {
    height: 100%;
    font-family: Courier, Arial, sans-serif;
}

header {
    background: url("https://cdn.pixabay.com/photo/2017/12/29/18/36/coffee-3048275_960_720.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: tan;
    background-size: cover;
    height: 100px;
}

main {
    background-color: white;    
    color: white;
}

.home {
    background: url("https://cdn.pixabay.com/photo/2020/06/04/13/55/coffee-cup-5258877_960_720.jpg") no-repeat center center fixed;
    background-color: tan;
    background-size: cover;
    height: 100%;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.sign {
    color: white;
    border-bottom: none;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 400px;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startbutton {
    background-color: white;
    border: none;
    color: tan;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 250px 2px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1;
}

.buttoncontainer :hover {
    background: rgb(111, 78, 55);
    color: tan;
}

.co2counter {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    color: white;
    /*text-decoration: none;*/
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.nav-branding {
    font-size: 2rem;
    font-weight: bold;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar { 
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white; 
}

@media(max-width: 500px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 150px;
        gap: 0;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        text-align: center;
        transform: translateY(-100%);
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-footer {
        position: fixed;
        left: -100%;
        top: 150px;
        gap: 0;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        text-align: center;
        transform: translateY(-100%);
        transition: 0.3s;
    }
    .column-container {
        -webkit-column-count: 1;
        -webkit-column-gap: 20px;
        -webkit-column-rule: 1px solid rgb(19, 199, 219);
    
        -moz-column-count: 1;
        -moz-column-gap: 20px;
        -moz-column-rule: 1px solid rgb(19, 199, 219);
    
        column-count: 1;
        column-gap: 20px;
        column-rule: 1px solid rgb(19, 199, 219);
    }
    .wrapper {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 501px) {
    .column-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    grid-auto-flow: dense;
}
  
.wrapper li.landscape {
    grid-column-end: span 2;
}

.column-container {
    width: 100%;
}

.grid-container {
    display: grid;
    gap: 5px;
    background-color: #6E6362;
    padding: 5px;
    grid-auto-columns: minmax(min-content, auto);
    
}

.grid-item {
    background-color: #394053;
    text-align: center;
    padding: 0px;
    font-size: 30px;
}


footer {
    display: block;
    background: url("https://cdn.pixabay.com/photo/2017/12/29/18/36/coffee-3048275_960_720.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: black;
    background-size: cover;
    height: 100px;
    color: white
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 25px;
}

h1 {
    border-bottom: 3px solid gray;
    font-weight: bold; 
    color:#f6f6f6;
    font-size: 28px;
}

h2 {
    border-bottom: 3px solid gray;
    font-weight: bold; 
    color:#2196F3;
}

#parent{
    display:flex;
}

#grid{
    flex-basis:15%;
}

#cafe-indoors{
    display:flex;
    flex-basis:95%;
    background-color: #6E6362;
    object-fit: fill;
}

#cafe-indoors img{
    /* width:900px; */
    text-align: center;
}

.grid-item img{
    width: 140px;
    height: 120px;
    /* background-color: white; */
}

.pic{
    width: 140px;
    height: 120px;

}
#order{
    flex-basis:20%;
}

.next{
    background-color: green;
    font-size: 30px;
    color: white;
    padding:0.3em;
}


button {
    background-color: #47a386;
    border: 0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 30px;
}

.subContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}

.modal-container {
    /* background-color: gray;  */
    position: absolute;
    /* padding: 100px; */
    /* top: 0;
    left: 0; */
    min-height: 50vh;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    /* opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease; */
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    border-radius: 5px;
    padding: 30px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* .modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    border-radius: 5px;
    padding: 30px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
} */

.modal-container h1 {
    margin: 0;
    color: black
}

.modal-container p {
    font-size: 14px;
    opacity: 0.7;
    color: black;
}

.hide {
    pointer-events: auto;
    opacity: 1;
    display: none;
}
